<!DOCTYPE html>
<html>
<head>
<title>Game Manager</title>
</head>
<body>
<header>
<h1>Welcome user: {{name}}!
</h1>
</header>
<div id="twitch-embed">Recommended stream beacause you like {{genre}}</div>
<script src="https://embed.twitch.tv/embed/v1.js"></script>

{% for x in stream %}
<script type="text/javascript">
    new Twitch.Embed("twitch-embed", {
      width: 854,
      height: 480,
      channel: "{{x}}"
      // Only needed if this page is going to be embedded on other websites
    });
</script>
{% endfor %}
<div id="twitch-embed">Recommended stream beacause you played recently</div>
{% for x in steam2 %}
 
<script type="text/javascript">
    new Twitch.Embed("twitch-embed", {
      width: 854,
      height: 480,
      channel: "{{x}}"
      // Only needed if this page is going to be embedded on other websites
    });
</script>
{% endfor %}
</body>
</html>